<header>
    <h1>Perfume Store</h1>
    <nav>
      <label id="hamburger" for="ch-menu">
        <i class="fa-solid fa-bars"></i>
      </label>  
        <ul>
          <li class="submenu">
            <a href="/index">Home</a>
            <ul>
              <li><a href="/index/#section2">Calendar</a></li>
              <li><a href="/index/#section4">Contact</a></li>
              <li><a href="/index/#section6">FaQs</a></li>
              <li><a href="/index/#section7">Map</a></li>
            </ul>
          </li>
          
          <li><a class="nav-animation" href="/produse">Fragrances</a></li>
          <li><a class="nav-animation" href="/seturi">Sets</a></li>
          <li><a class="nav-animation" href="#">About Us</a></li>
          <li>
            <a class="nav-animation with-icon" href="#">
              <i class="fa-solid fa-circle-user"></i>
              <span>Login</span>
            </a></li>
        </ul>
      </nav>
  </header>